*{
	font-size:18px;
	border-radius:1px;
	font-family:"宋体";
	list-style:none;
	text-decoration:none;
}

.errorTxt,#text{
	display:block;
	color:#F5060A;
	font-size:12px;
}
body{
background:url(../images/homebg.png);	
}
#regist{
	text-align:center;
	postion:relative;
	margin:100px;	
}
.con_block{
	display:block;
	position:relative;
	margin-left:-35px;
	
}
.error_sig{
	color:#F5090D;
}
a{
	font-size:12px;
	color:#1A65E9;
}
